[Main]
# File for saving the current processes
PROC_FILE = 'processes.txt'
# File for saving the seen processes
PICKLE_FILE = 'processes.pickle'
# OS command to show active processes
PROCESSES_LIST = ps -u user_name
# Name of the looking process
PROCESS_NAME = python
# OS command to kill selected process
KILL_COMMAND = sudo kill -9
# Count of seen times after which the active task should be suspended
SEEN_TIMES = 15

[Logging]
# Leave it blank if you want get logging to the console
FILE_NAME = calm-life.log
# CRITICAL = 50, ERROR = 40, WARNING = 30, INFO = 20, DEBUG = 10, NOTSET = 0
LEVEL = 20

[Misc]
# Leave it blank if you don't have the check url from helthchecks.io
HEALTH_CHECK_URL =
# Slack group alert webhook, leave it blank if there is no Slack channel for alerting
SLACK_MEDIAMONITORINGBOT_WEBHOOK = 
